.error {
  color: crimson;
  margin: 5px 0;
  font-size: 15px;
}

.inputs {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.input {
  margin: 1rem;
  width: 15rem;
  border: none;
  border-bottom: #151515 2px solid;
  outline: none;
}

.input-wrapper {
  border: 1px solid #acacac;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.submit-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-wrapper > input {
  border: none;
  background: #000;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.submit-wrapper > input:disabled {
  background: #595959;
  color: #292929;
  cursor: not-allowed;
}
